
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #98521d; /* Color de fondo uniforme */
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 10px); /* Ocupa toda la altura menos el tamaño de la barra de navegación */
  margin-top: 30px; /* Añade un margen superior para separar de la barra de navegación */
  padding: 100px; /* Espacio alrededor del contenido */
  box-shadow: 0 4px 8px rgb(0, 0, 0); /* Sombra opcional para dar profundidad */
}

.formulario {
  max-width: 500px; /* Ancho máximo del formulario */
  width: 50%; /* Que ocupe el 100% del ancho disponible */
  background: rgb(157, 20, 20); /* Color de fondo del formulario */
  padding: 50px; /* Espaciado interno */
  border-radius: 40px; /* Bordes redondeados */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra para el formulario */
}
  
