.app {
  text-align: left;
  padding: 20px;
  background-color: rgba(37, 5, 60, 0.782);
}

/* Estilo para el logo */
.logo {
  width: 150px; /* Ajusta el tamaño según sea necesario */
  height: auto;
  margin-bottom: 20px;
}




  
